./* সাধারণ রিসেট */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* পুরো ওয়েবপেজ */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f8ff;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

/* হেডিং */
h1, h2, h3 {
  color: #005f73;
  margin-bottom: 10px;
}

/* অনুচ্ছেদ */
p {
  font-size: 30px;
  
}

/* লিংক */
a {
  color: #008cba;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.navbar {
  background-color: #333;
  display: flex;
  justify-content: space-around; /* একে অপরের মাঝে সমান জায়গা */
  align-items: center;
  padding: 15px 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #555;
  border-radius: 5px;
}
.box1{
  background-color: cadetblue;
  height: 150px;
  width: full;
    
}
.box2{
  background-color: cadetblue;
  height: 1000px;   
}
.footer {
  background-color: #111; /* গা dark কালো ব্যাকগ্রাউন্ড */
  color: #fff;
  padding: 15px 0;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-top: 1px solid #222;
}

.footer .highlight {
  color:dodgerblue; /* হাইলাইট অংশের জন্য */
}
.top-section {
  display: flex;
  align-items: center;
  background-color: black; /* পেছনের কালার */
  padding: 10px;
}

.logo img {
  width: 130px;
  height: 130px;
}

.main-image img {
  width: 100%; /* বাকি সব জায়গা */
  height: 130px;
  margin-left: 20px;
  object-fit: cover;
  
}
.box2 {
  display: flex;
  flex-direction: column;
  gap: 20px; /* div gulor majhe faka thakbe */
  padding: 10px;
}

.section {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

